@using System.Diagnostics
@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
    var p = Process.GetCurrentProcess();
}

<style>
    td{
        text-align: left;
        border: 1px solid silver;
    }
</style>
<div class="text-left">
    <div>Environment.ProcessorCount: @Environment.ProcessorCount</div>
    <div>GC.GetTotalMemory: @GC.GetTotalMemory(false) bytes</div>
    <div>VirtualMemory / MaxWorkingSet / WorkingSet: @(p.VirtualMemorySize64/1048576) MB / @p.MaxWorkingSet.ToInt64() bytes / @(p.WorkingSet64/1048576) MB</div>
    <table>
        @foreach (var key in Model.Interfaces)
        {
            <tr>
                <td>@key.Name</td>
                <td><pre>@Html.Raw(key.Addresses)</pre></td>
            </tr>
        }
    </table>
    <br/>
    <table>
        @foreach (var key in Model.Env.OrderBy(p => p.Key))
        {
            <tr>
                <td>@key.Key</td>
                <td>@key.Value</td>
            </tr>
        }
    </table>
</div>